{% extends 'user/parent.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="card shadow-sm mt-4">
  <div class="card-body">
    <h3>Login</h3>
    <form method="post">
      {% csrf_token %}
      
      <label for="">Username</label>
      <input type="text" name="username" placeholder="Enter Your Username" class="form-control">

      <label for="" class="mt-2">Password</label>
      <input type="password" name="password" placeholder="Enter Your Password" class="form-control">
      <p>If you forgot password <a href="{% url 'password_reset' %}">Forgot Password</a>
        
      </p>
      Don't have an account? <a href="{% url 'signup' %}">Click Here</a>
      <button type="submit" class="btn btn-primary mt-3">Login</button>
    </form>
  </div>
</div>
{% endblock content %}
